html, body{
  margin: 0;
  padding:  0;

}

h1{
  text-align: center;
  font-size: 45px;

}

#addTaskDiv{
  text-align: center;
}

#addTaskForm{


}

#taskHeaderDiv{
  text-align: center;
}

.table-header{
  width: 150px;
  text-align: center;
  margin: 0 auto;

}

#task{

}

#priority{

}

#next{


}

#outputDiv{
text-align: center;


}

#dataRowDiv{
  text-align: center;
  margin: 0 auto;

}

.table-item{
  width: 150px;
  text-align: center;
  margin: 0 auto;

}

.table-button{
  width: 150px;
  text-align: center;
  margin: 0 auto;
}

.complete-button{


}

.delete-button{


}

.highlight-div{
  background-color: grey;
}
