html, body{
  margin: 0;
  padding:  0;

}

h1{
  text-align: center;
  font-size: 45px;

}

#addTaskDiv{
  text-align: center;
}

#addTaskForm{


}

#task{

}

#priority{

}

#next{


}

#outputDiv{
text-align: center;


}

#dataRowDiv{
  text-align: center;
  margin: 0 auto;

}

.table-item{
  width: 150px;
  text-align: center;
  margin: 0 auto;

}

.table-button{
  width: 250px;
  text-align: center;
  margin: 0 auto;
}

.completeButton{


}

.deleteButton{


}
